

body{
	font-size: 12px;
	font-family: 'Open Sans', arial, tahoma, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  font: 100%;
}
label, input, button, select, textarea{
	font-size: 12px;
}
ul li a,a{
	color:#333;
	outline:0; 
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
a{
	color:#eb4800;
}
a:hover{
	color:#fd4004;
	text-decoration:none;
}

